<h1>Blackjack!</h1>

<p>Welcome <%= session[:player_name] %>.</p>
<br>

<div class="well">
<h4> Dealers cards: </h4>
  <% session[:dealer_cards].each { |card| %>
    <%= card_image(card) %>
  <% } %>

  <% if @show_dealer_hit_button %>
    <p>
      <h5>Dealer has <%= calculate_total(session[:dealer_cards]) %> and will hit.
      </h5>
    <form action='/game/dealer/hit' method='post'>
      <input type='submit' class='btn btn-success' value = 'Click to see dealer card'>
    </form>
  </p>
  <%end%>

</div>

<br>

<div class = "well">
<h4>Player's Cards:</h4>
    <% session[:player_cards].each do |card| %>
      <%= card_image(card) %>
    <% end %>
</div>

<div class = "well">
<p>
  What would <%= session[:player_name]%> like to do? 
  <%=session[:player_name] %> has <%= calculate_total(session[:player_cards]) %>
</p>

<% if @show_hit_or_stay_buttons %>

<form id="hit_form" action = "/game/player/hit" method = "post">
  <input type ="submit" name="hit" style="btn" class = "btn btn-success" value= "Hit">
</form>

<form id="stay_form" action = "/game/player/stay" method = "post">
  <input type ="submit" name="stay" style="btn" class = "btn btn-warning" value= "Stay">
</form>
<br>
<% end %>
</div>



